:root {
    --button: #2196F3;
    --header: #212121;
    --text: #757575; 
    --footer: rgba(255, 255, 255, 0.6);
    --link-list: rgba(255, 255, 255, 0.1);
    --white-color: #FFFFFF;
    --bgc: #2F303A;
    --mess: rgba(175, 177, 184, 1);
    --job: rgba(47, 48, 58, 0.8);


}
a {
    text-decoration: none;
    color:var(--header);
}
/* Цвет наведения и кнопок  #2196F3 */
/* Цвет заголовков  #212121 */
/* Цвет основного текста  #757575 */
/* Текст в футере rgba(255, 255, 255, 0.6) */
/* Кусок лого и некоторые заголовки   #FFFFFF */



/* Основные цвета и тех команды */
body {
    color: var(--text);
}
footer {
    background-color: var(--bgc)
}


.listoff {
    list-style: none;
}
.bgc {
    background-color: var(--bgc)
}

.current {
    color: var(--button)
}
.current::after{
content:'';
width: 48px;
height: 4px;
display: block;
background-position: bottom;
position: absolute;
left: 492px;
top: 76px;

border-radius: 4px;
background-color: var(--button);
}
.current-p {
    color: var(--button)
}
.current-p::after{
position: absolute;
content:'';
width: 78px;
height: 4px;
display: block;
background-position: bottom;
left: 585px;
top: 76px;

border-radius: 2px;
background-color: var(--button);
}


h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
h2 {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
h3 {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
h4{ 
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
}
.body {
    font-family: 'Roboto';
    font-style: normal;
}


/* Logo */
.accent {
    color: var(--button);
}
.accentw {
    color: var(--white-color)
}
.logo-h {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19em;

display: inline-block;
width: 145px;
margin-left: 215px;
margin-top: 24px;
margin-bottom: 25px;
margin-right: 93px;
}
.logo-f{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
    
display: inline-block;
width: 145px;
margin-left: 215px;
margin-top: 60px;
margin-bottom: 0px;
margin-right: 0px;    
}



/* header */
.list .link-header:hover,
.list .link-header:focus,
.address .link-header:hover,
.address .link-header:focus {
    color: var(--button);
    fill: var(--button);
    /* transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.link-header {
display: block;
padding-top: 10px;
padding-bottom: 10px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon{
    color: var(--text);
    fill: var(--text);
}
.mail-icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.tel-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
.address-ul .link-header{
    color: var(--text);
    fill: var(--text);
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    margin-right: auto;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.address {
    font-style: normal;
    text-align: center;
}
.address-ul{
    display: flex;
    margin-right: 215px;
    align-items: center;

    color: var(--text);
    fill: var(--text);
}
.address-ul .item + .item{
    margin-left: 50px;
}



/* main */
.hero {
    height: 600px;
    text-align: center;
    background-color: var(--bgc);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
     url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.h-one-section {
    display: block;
    padding: 200px 0px 0;
    margin: 0;
}
.section .h-one-section {
    color: var(--white-color)
}
.section .button {
    background-color: var(--button);
    color: var(--white-color);  
}
.section .h-two-section {
    color: var(--header)
}
.antena::before{
    content:'';
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../images/antena.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
}
.clock::before{
    content:'';
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
}
.pc::before{
    content:'';
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../images/PC.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
}
.astronaut::before{
    content:'';
    width: 270px;
    height: 120px;
    display: inline-block;
    background-image: url(../images/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
}

.list .h-three-section,
.list .h-two-section {
    color: var(--header);
}
.list .buttonh:hover,
.list .buttonh:focus {
cursor: pointer;
background-color: var(--button);
color: var(--white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;

transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border: none;
    padding: 6px 25px;

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list{
display: flex;
padding: 0;
justify-content: center;
margin-top: 94px;
margin-bottom: 50px;
}
.button-list .item:not(:last-child){
margin-right: 30px;    
}
.buttoni {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

margin-top: 40px;
margin-bottom: 210px;
padding: 10px 32px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttoni:hover{
    cursor: pointer;
    border: 1px solid var(--button);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-index { 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    display: flex;
    margin: 94px 215px;
    justify-content: center;
}
.text-index .item:not(:last-child){
    margin-right: 30px;
}
.section{
    text-align: center;
}
.job-ul {
    /* position: relative; */
    display: flex;
    justify-content: center;
    margin: 50px 0 94px;
    padding: 0;
    min-height: 300px;
}
.job-ul .item:not(:last-child){
margin-right: 30px;
}
.job-item{
    cursor: pointer;
    position: relative;
    width: 370px;
    height: 70px;

    transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.job-p {
position: absolute;
background-color: var(--job);
color: var(--white-color);
width: 370px;
height: 70px;
bottom: -224px;
left: 0;
margin: 0;
padding-top: 27px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: center;
text-transform: uppercase;

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.job-item:hover .job-p{
opacity: 1;
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}
.job-p-ul{
    display: flex;
}
.job-item .job-p{
opacity: 0;
}


.text-portfolio {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}
.text-portfolio-p{
    position: absolute;
    opacity: 0;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    width: 372px;
    height: 294px;
    padding: 63px 24px;
    margin: 0;
    left: 0;
    top: 110px;
transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .text-portfolio-hover{
    
position: absolute;
} */

.panel-item:hover .text-portfolio-hover{
opacity: 1;
/* transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
width: 371px;
height: 294px;
padding: 63px 24px;
margin: 0;
left: 0;
top: 0;
}


.text-h {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;

margin-top: 118px;
margin-bottom: 50px;
}
.team {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 94px;
    margin-top: 0;

    background-color: var(--white-color);
    fill: var(--mess);
}
.team .item-team:not(:last-child) {
margin-right: 30px;    
}
.item-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--white-color)
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}
.panel{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.panel-item{
    position: relative;
background-color: var(--white-color);
border: 1px solid #EEEEEE;

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.panel-item:hover,
.panel-item:focus{
cursor: pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.panel .panel-item{
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: left;
}
.panel .panel-item:nth-child(3n){
    margin-right: 0;
}
.panel .panel-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.panel .text-portfolio{
margin: 4px 24px 20px;
}
.panel .h-two-section{
margin: 20px 24px 4px;    
}


.mess{
    width: 20px;
    height: 20px;
    background-position: center;
}
.mess-button{
    padding: 0;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 44px;
    height: 44px;

    border-radius: 30px;
    border:none;

    transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.first{
    margin-left: 32px;
    }
.mess-button:last-child{
margin-right: 32px;
}

.mess-button:hover,
.mess-button:focus{
    cursor: pointer;
    background-color:var(--button);
    fill: var(--white-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comp {
border: 1px solid #AFB1B8;
border-radius: 4px;

width: 170px;
height: 92px;
margin: 0;
padding: 0;

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comp:hover,
.comp:focus{
border: 1px solid var(--button);
fill: var(--button);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}
.comp-list {
    fill: var(--text);

    display: flex;
    justify-content: center;

    padding: 0;
    margin: 50px 215px 94px;
}
.comp-icon {
    width: 160px; 
    height: 60px;
    align-items: center;
}
.comp-list .item:not(:last-child){
margin-right: 30px;
}




/* Footer */
.address .text-footer {
    color: var(--white-color)
}
.address .link-footer {
    color: var(--footer);

transition-property: all;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link-footer:hover,
.address .link-footer:focus {
    color: var(--button);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.text-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    

}

.text-address .text-footer {
display: block;  
margin-left: 215px;
margin-bottom: 9px;
margin-top: 20px;
}
.list-footer{
display: block;
padding: 0;
margin: 0;
margin-left: 215px;
padding-bottom: 60px;
align-content: left;
}
.list-footer .item:not(:first-child) {
margin-top: 9px;
}
.link-text{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: var(--white-color);

display: flex;
margin: 0;
margin-bottom: 20px;
}
.link-list{
    display: flex;
    padding: 0;
}
.link-list .link{
width: 44px;
height: 44px;
background-color: var(--link-list);
border: none;
border-radius: 30px;
}
.link-list li:not(:last-child){
margin-right: 10px;
}
.link-list .inst{
background-image: url(../images/instagramW.svg);
background-repeat: no-repeat;
background-position: center;
padding: 12px;
}
.link-list .twit{
background-image: url(../images//twitterW.svg);
background-repeat: no-repeat;
background-position: center;
padding: 12px;
}
.link-list .face{
background-image: url(../images/facebookW.svg);
background-repeat: no-repeat;
background-position: center;
padding: 12px;
}
.link-list .in{
background-image: url(../images/linkedinW.svg);
background-repeat: no-repeat;
background-position: center;
padding: 12px;
}
.link-list .inst:hover,
.link-list .inst:focus{
cursor: pointer;
background-color:var(--button);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list .twit:hover,
.link-list .twit:focus{
cursor: pointer;
background-color:var(--button);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list .face:hover,
.link-list .face:focus{
cursor: pointer;
background-color:var(--button);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list .in:hover,
.link-list .in:focus{
cursor: pointer;
background-color:var(--button);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer{
    display: flex;
}
.second-div{
    margin-left: 70px;
    margin-top: 72px;
}
.f-c{
    text-align: left;
}

