:root {
    --button: #2196F3;
    --header: #212121;
    --text: #757575; 
    --footer: rgba(255, 255, 255, 0.6);
    --white-color: #FFFFFF;

}
/* Цвет наведения и кнопок  #2196F3 */
/* Цвет заголовков  #212121 */
/* Цвет основного текста  #757575 */
/* Текст в футере rgba(255, 255, 255, 0.6) */
/* Кусок лого и некоторые заголовки   #FFFFFF */

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
body {
    color: var(--text);
    background-color: red; 
    
}

/* Заголовок(часть Веб) */
.accent {
    color: var(--button)
}

/* Голова */
.header-link .link {
    color: var(--header);
    
}
.header-link .link:hover,
.header-link .link:focus {
    color: var(--button)
}

/* main body */

/* section 1 */
.section .button {
    background-color: var(--button) ;
    color: var(--white-color)
}
.section .header-header {
    color: var(--white-color);
}

.list .main-header {
    color: var(--text);
}